body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.edit_box {
  display: inline-block;
  vertical-align: top;
  margin: 0px 50px;
  padding-left: 15px;
}
#edit_password {
  padding-bottom: 20px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.register-user {
  margin: 0 auto;
  text-align: center;
}
#return_div {
  text-align: right;
  display: inline-block;
}
  #return_dash {
  display: inline-block;
  width: 205px;
}
#user_info {
  margin-left: 20px;

}
#left {
  display: inline-block;
}
#right {
  display: inline-block;
  margin-left: 15px;
  width: 400px;
  vertical-align: top;
}
#log {
  margin-left: 25px;
}
#reply {
  margin-left: 30px;
}
#currentUser {
  color: #189e4a;
}
#user_name {
  display: inline-block;
}
#edit {
  height: 25px;
  width: 100px;
  font-size: 15px;
  padding: 1px 16px 10px 12px;
  margin-bottom: 10px;
}
#postRow {
  margin: 20px 0px;
}
  #postHeading {
    margin: 20px 0px 0px 25px;
  }
  #post {
    margin: 20px 0px 10px 25px;
  }
  #postBtn {
    width: 70px;
    height: 40px;
    margin-left: 362px;
    padding-top: 6px;
  }
  #comments {
    text-align: right;
     margin-bottom: 15px;
  }
  #comment {
    margin-top: 0px;
    display: inline;
  }
  #commentBtn {
    width: 170px;
    height: 30px;
    padding: 1px 16px 10px 12px;
    display: inline-block;
  }




